@import 'reset';
@import 'utils';
@import 'components';
@import 'views';

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  height: 100%;
  background-color: palette(grey, 900);
  font-family: $font-family;
  font-size: 15px;
  @include mediaQuery(lg) {
    font-size: 14px;
  }
  color: color(primary, light);

  &.has-dialog, &.has-drawer {
    overflow: hidden;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#app {
  height: 100%;
}

.web {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'header'
    'main'
    'footer';
  height: 100vh;

  &-header {
    grid-area: header;
    background-color: palette(grey, 800);
    border-bottom: 1px solid color(divider, light);

    > .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1024px;
      height: 56px;
      margin: 0 auto;
      padding: 0 24px;
    }
  }

  &-main {
    grid-area: main;
    margin: 0 auto;
    width: 100%;

    > .section {
      margin: 0 auto;
      padding: 0 24px;
      max-width: 1024px;
    }
  }

  &-footer {
    grid-area: footer;
    border-top: 1px solid color(divider, light);
    background-color: palette(grey, 800);

    > .footer {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 1024px;
      height: 42px;
      margin: 0 auto;
      padding: 0 24px;
    }
  }
}

.game {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'header'
    'main'
    'footer';
  height: 100vh;

  &-header {
    grid-area: header;
    background-color: palette(grey, 800);
    border-bottom: 1px solid color(divider, light);

    > .app-bar {
      display: flex;
      justify-content: space-between;
      align-items: center;

      margin: 0 auto;
      max-width: 1024px;
      padding: 0 16px;
      @include mediaQuery(md) {
        padding: 0 24px;
      }
      height: 48px;
      @include mediaQuery(md) {
        height: 72px;
      }
    }
  }

  &-main {
    grid-area: main;
    margin: 0 auto;
    width: 100%;
    overflow: auto;

    > .section {
      margin: 0 auto;
      @include mediaQuery(md) {
        padding: 0 24px;
      }
      max-width: 1024px;

      > h1 {
        font-size: 20px;
        padding: 0 16px;
        color: color(secondary, light);
        @include mediaQuery(md) {
          padding: 0;
        }
      }
    }
  }

  &-footer {
    grid-area: footer;
    border-top: 1px solid color(divider, light);
    background-color: palette(grey, 800);

    @include mediaQuery(md) {
      display: none;
    }

    > .bottom-nav {
      display: flex;
      height: 64px;
    }
  }
}
