@import 'reset';
@import 'utils';
@import 'components';

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  height: 100%;
  background-color: palette(grey, 900);
  font-family: Inter var,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";;
  font-size: 15px;
  @include mediaQuery(lg) {
    font-size: 14px;
  }
  color: color(primary, light);

  &.has-dialog, &.has-drawer {
    overflow: hidden;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#app {
  height: 100%;
}

.web {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'header'
    'main'
    'footer';
  height: 100vh;

  &-header {
    grid-area: header;
    background-color: palette(grey, 800);
    border-bottom: 1px solid color(divider, light);

    > .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1024px;
      height: 56px;
      margin: 0 auto;
      padding: 0 24px;
    }
  }

  &-main {
    grid-area: main;
    margin: 0 auto;
    width: 100%;

    > .section {
      height: 100%;
      max-width: 1024px;
      margin: 0 auto;
      padding: 0 16px;
      @include mediaQuery(md) {
        padding: 0 24px;
      }
    }
  }

  &-footer {
    grid-area: footer;
    border-top: 1px solid color(divider, light);
    background-color: palette(grey, 800);

    > .footer {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 1024px;
      height: 42px;
      margin: 0 auto;
      padding: 0 24px;
    }
  }
}

.game {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'header'
    'main'
    'footer';
  height: 100vh;

  &.is-disabled {
    position: relative;
    &:after {
      background-color: rgba(255, 255, 255, 0.5);
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  &-header {
    grid-area: header;
    background-color: palette(grey, 800);
    border-bottom: 1px solid color(divider, light);

    > .app-bar {
      display: flex;
      margin: 0 auto;
      max-width: 1024px;
      padding: 0 16px;
      @include mediaQuery(md) {
        padding: 0 24px;
      }
      height: 48px;
      @include mediaQuery(md) {
        height: 72px;
      }
    }
  }

  &-main {
    grid-area: main;
    margin: 0 auto;
    width: 100%;
    overflow: auto;

    &.has-chat-animation {
      overflow: hidden;
    }

    > .view {
      &-home, &-battles, &-players, &-messages, &-settings {
        height: 100%;
        max-width: 1024px;
        margin: 0 auto;

        > .grid {
          padding-right: 0;
          padding-left: 0;
          > .grid-row {
            > .grid-column {
              padding-right: 0;
              padding-left: 0;
            }
          }
        }
      }

      &-home, &-settings {
        padding: 0 16px;
        @include mediaQuery(md) {
          padding: 0 24px;
        }
      }

      &-battles, &-players, &-messages {
        @include mediaQuery(md) {
          padding: 0 24px;
        }
      }

      &-messages {
        display: grid;
        height: 100%;
      }

      &-settings {
        padding-top: 16px;
        padding-bottom: 16px;
      }
    }
  }

  &-footer {
    grid-area: footer;
    border-top: 1px solid color(divider, light);
    background-color: palette(grey, 800);

    @include mediaQuery(md) {
      display: none;
    }

    > .bottom-nav {
      display: flex;
      height: 64px;
    }
  }
}
