@import '~minireset.css/minireset.min.css';
@import "utils";
@import "components";
@import "views";

#app {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  background-color: palette(gray, 0);
  font-family: $font-family;
  font-size: $font-size;
  color: color(primary);
}
