.account-menu {
  &-list {
    display: flex;
    flex-direction: column;

    &-item {
      &-link {
        display: inline-block;
        width: 100%;
        padding: 8px 16px;
        color: color(primary);
        #{$font-awesome-icon-class} {
          margin-right: 16px;
          color: color(active-icon, dark);
        }
      }
    }
  }
}
