@font-face {
  font-family: 'NuAnkoMochiCt-Reg';
  src: url('@/assets/fonts/NuAnkoMochiCt/NuAnkoMochiCt-Reg.otf')
    format('truetype');
}

@font-face {
  font-family: 'PixelMplus';
  src: url('@/assets/fonts/PixelMplus/PixelMplus10-Regular.ttf')
    format('truetype');
}

.battle {
  font-family: PixelMplus;
  display: grid;
  grid-gap: 12px;
  grid-template-rows: min-content min-content 1fr min-content;
  height: 100vh;
  margin: 0 auto;
  padding: 12px;
  background-color: palette(grey, 1000);

  @include mediaQuery(md) {
    max-width: 1024px;
  }

  a {
    color: inherit;
  }

  &-status {
    display: flex;
    column-gap: 8px;
    font-size: 14px;
    @include mediaQuery(xxs) {
      font-size: 15px;
    }
    @include mediaQuery(xs) {
      font-size: 16px;
    }
    @include mediaQuery(sm) {
      font-size: 19px;
    }
    @include mediaQuery(md) {
      font-size: 20px;
    }
    @include mediaQuery(lg) {
      font-size: 20px;
    }

    &-primary {
      flex-grow: 1;
      text-align: center;
    }

    &-actions {
      display: flex;
      align-items: center;

      .button {
        height: 100%;
        min-height: 36px;
      }
    }

    &-current-turn {
      color: palette(purple, 300);
    }
  }

  &-ground {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    column-gap: 12px;
    width: 100%;

    &-player {
      min-width: 0;
      width: 100%;
      height: 100%;
      padding: 8px 12px;
      @include mediaQuery(xs) {
        padding: 12px 14px;
      }
      @include mediaQuery(sm) {
        padding: 14px 16px;
      }
      border: 2px solid palette(grey, 800);
      border-radius: 3px;

      &-name {
        overflow: hidden;
        width: 100%;
        max-width: 200px;
        @include mediaQuery(md) {
          max-width: 100%;
        }
        margin: 0 auto;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 14px;
        @include mediaQuery(xxs) {
          font-size: 15px;
        }
        @include mediaQuery(xs) {
          font-size: 16px;
        }
        @include mediaQuery(sm) {
          font-size: 19px;
        }
        @include mediaQuery(md) {
          font-size: 20px;
        }
        @include mediaQuery(lg) {
          font-size: 20px;
        }

        &.is-online {
          color: palette(green, 500);
        }
        &.is-win {
          color: palette(green, 500);
        }

        &.is-lose {
          color: palette(red, 500);
        }
      }

      &.is-current-turn {
        border-color: palette(blue, 500);
        background-color: palette(grey, 1000);
      }

      &.is-win {
        border-color: palette(green, 500);
      }

      &.is-lose {
        border-color: palette(red, 500);
      }
    }

    &-nft {
      width: 100%;
      max-width: 200px;
      @include mediaQuery(md) {
        max-width: 100%;
      }
      margin: 0 auto;

      &-content {
        display: block;
        @include mediaQuery(md) {
          display: flex;
          // flex-direction: row-reverse;
          gap: 16px;
        }

        &-primary {
          max-width: 100%;
          @include mediaQuery(md) {
            max-width: 200px;
          }
        }

        &-secondary {
          display: none;
          @include mediaQuery(md) {
            display: block;
          }
          flex-grow: 1;
          font-size: 14px;
          @include mediaQuery(xxs) {
            font-size: 15px;
          }
          @include mediaQuery(xs) {
            font-size: 16px;
          }
          // @include mediaQuery(sm) {
          //   font-size: 19px;
          // }
          // @include mediaQuery(md) {
          //   font-size: 20px;
          // }
          @include mediaQuery(lg) {
            font-size: 18px;
          }
        }
      }

      &-info {
        overflow: hidden;
        margin-top: 8px;

        // Transition
        &-slide-left-enter-active,
        &-slide-left-leave-active,
        &-slide-right-enter-active,
        &-slide-right-leave-active {
          transition-duration: 0.2s;
          transition-property: height, opacity, transform;
          transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
          overflow: hidden;
        }

        &-slide-left-enter-from,
        &-slide-right-leave-active {
          opacity: 0;
          transform: translate(2em, 0);
        }

        &-slide-left-leave-active,
        &-slide-right-enter-from {
          opacity: 0;
          transform: translate(-2em, 0);
        }
      }

      &-name {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 14px;
        @include mediaQuery(xxs) {
          font-size: 15px;
        }
        @include mediaQuery(xs) {
          font-size: 16px;
        }
        @include mediaQuery(sm) {
          font-size: 19px;
        }
        @include mediaQuery(md) {
          font-size: 20px;
        }
        @include mediaQuery(lg) {
          font-size: 20px;
        }

        &.is-win {
          color: palette(green, 500);
        }

        &.is-lose {
          color: palette(red, 500);
        }

        .stars {
          #{$font-awesome-icon-class} {
            padding-bottom: 1px;
            font-size: 70%;
            @include mediaQuery(xxs) {
              font-size: 80%;
            }
          }
        }
      }

      &-image {
        margin-top: 4px;

        // position: relative;
        // &-rarity {
        //   background-color: palette(grey, 100);
        //   position: absolute;
        //   right: 8px;
        //   top: 8px;
        //   padding: 4px 6px;
        //   border-radius: 8px;
        //   color: palette(orange, 500);
        //   font-size: 14px;
        //   #{$font-awesome-icon-class} {
        //     font-size: 14px;
        //   }
        // }

        &.is-win {
          //
        }

        &.is-lose {
          opacity: 0.4;
        }

        img {
          width: 100%;
          height: 100%;
        }
      }

      .health-bar {
        margin-top: 8px;
        height: 18px;
        @include mediaQuery(xxs) {
          height: 20px;
        }
        @include mediaQuery(xs) {
          height: 22px;
        }
        @include mediaQuery(sm) {
          height: 24px;
        }
      }

      &-status {
        font-size: 14px;
        @include mediaQuery(xxs) {
          font-size: 15px;
        }
        @include mediaQuery(xs) {
          font-size: 16px;
        }
        // @include mediaQuery(sm) {
        //   font-size: 19px;
        // }
        // @include mediaQuery(md) {
        //   font-size: 20px;
        // }
        @include mediaQuery(lg) {
          font-size: 18px;
        }

        &-list {
          display: flex;
          flex-wrap: wrap;
          width: 100%;

          &-title {
            width: 30%;
            @include mediaQuery(xs) {
              width: 35%;
            }
            @include mediaQuery(md) {
              width: 40%;
            }
          }

          &-data {
            display: flex;
            justify-content: space-between;
            width: 70%;
            @include mediaQuery(xs) {
              width: 65%;
            }
            @include mediaQuery(md) {
              width: 60%;
            }

            .has-advantage {
              color: palette(orange, 500);
            }
          }
        }

        &.is-win {
          color: palette(green, 500);
        }

        &.is-lose {
          color: palette(red, 500);
        }
      }

      .nft-meta {
        &-key {
          color: color(secondary, light);
        }
      }

      &-rarity,
      &-attributes {
        & + & {
          margin-top: 16px;
        }
      }

      &-rarity {
        .nft-meta-value {
          color: palette(orange, 500);
        }
      }

      &-attributes {
        .nft-meta-value {
          color: palette(green, 500);
        }
      }
    }
  }

  &-messages {
    overflow-y: scroll;
    padding: 8px 12px;
    @include mediaQuery(xs) {
      padding: 12px 14px;
    }
    @include mediaQuery(sm) {
      padding: 14px 16px;
    }
    border: 1px solid palette(grey, 0);
    border-radius: 3px;
    background-color: palette(grey, 1000);
    font-size: 14px;
    @include mediaQuery(xxs) {
      font-size: 15px;
    }
    @include mediaQuery(xs) {
      font-size: 16px;
    }
    @include mediaQuery(sm) {
      font-size: 19px;
    }
    @include mediaQuery(md) {
      font-size: 20px;
    }
    @include mediaQuery(lg) {
      font-size: 20px;
    }
  }

  &-controls {
    display: flex;
    justify-content: space-between;
    column-gap: 8px;

    .twitter-share-button {
      width: 100%;
      border: 1px solid #289aeb;
      border-radius: 3px;
      background-color: #289aeb;
      padding: 16px 8px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      text-align: center;
      color: palette(grey, 0);
      user-select: none;
      font-size: 14px;
      @include mediaQuery(xxs) {
        font-size: 15px;
      }
      @include mediaQuery(xs) {
        font-size: 16px;
      }
      @include mediaQuery(sm) {
        font-size: 19px;
      }
      @include mediaQuery(md) {
        font-size: 20px;
      }
      @include mediaQuery(lg) {
        font-size: 20px;
      }
    }

    > button {
      width: 100%;
      border: 1px solid palette(blue, 900);
      border-radius: 3px;
      background-color: palette(blue, 800);
      padding: 12px 8px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      color: palette(grey, 0);
      user-select: none;
      font-size: 14px;
      @include mediaQuery(xxs) {
        font-size: 15px;
      }
      @include mediaQuery(xs) {
        font-size: 16px;
      }
      @include mediaQuery(sm) {
        font-size: 19px;
      }
      @include mediaQuery(md) {
        font-size: 20px;
      }
      @include mediaQuery(lg) {
        font-size: 20px;
      }

      &:disabled {
        border: 1px solid palette(grey, 800);
        background-color: palette(grey, 800);
        color: color(disabled, light);
      }
    }
  }

  &-list {
    &-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 16px;
      padding-top: 12px;
      padding-right: 16px;
      padding-bottom: 12px;
      padding-left: 16px;
      @include mediaQuery(md) {
        padding-right: 0;
        padding-left: 0;
      }

      &-primary {
        flex-grow: 1;
        max-width: 150px;
      }

      &-secondary {
        flex-grow: 1;
        max-width: 150px;
      }

      &-actions {
        flex-grow: 1;
        text-align: right;
      }
    }
  }
}
