.battle {
  font-family: PixelMplus;
  display: grid;
  grid-gap: 12px;
  grid-template-rows: min-content min-content 1fr min-content;
  height: 100vh;
  margin: 0 auto;
  padding: 12px;
  background-color: palette(grey, 1000);

  @include mediaQuery(md) {
    max-width: 1024px;
  }

  font-size: 12px;
  @include mediaQuery(xxs) {
    font-size: 13px;
  }
  @include mediaQuery(xs) {
    font-size: 14px;
  }
  @include mediaQuery(sm) {
    font-size: 16px;
  }
  @include mediaQuery(md) {
    font-size: 17px;
  }
  @include mediaQuery(lg) {
    font-size: 19px;
  }
  @include mediaQuery(xl) {
    font-size: 20px;
  }

  a {
    color: inherit;
  }

  &-splash-screen {
    font-family: PixelMplus;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 12px;
    @include mediaQuery(xxs) {
      font-size: 13px;
    }
    @include mediaQuery(sm) {
      font-size: 16px;
    }
    @include mediaQuery(md) {
      font-size: 18px;
    }

    &-content {
      position: relative;
      width: 100%;
      margin-top: 16px;
      margin-bottom: 16px;
      padding-top: 16px;
      padding-bottom: 16px;
      border-top: 12px solid palette(yellow, 500);
      border-bottom: 12px solid palette(yellow, 500);

      background: repeating-conic-gradient(
          transparent,
          transparent 12deg,
          palette(grey, 800) 12deg 15deg
        ),
        repeating-conic-gradient(
          transparent,
          transparent 19deg,
          palette(grey, 800) 19deg 22deg
        ),
        repeating-conic-gradient(
          transparent,
          transparent 6deg,
          palette(grey, 800) 6deg 8deg
        );
    }

    &-message {
      position: absolute;
      top: 12px;
      width: 100%;
      text-align: center;
      font-size: 260%;
      color: palette(grey, 0);
      text-shadow: 3px 3px 3px palette(grey, 1000);
      z-index: 2;

      &-enter-active,
      &-leave-active {
        transition: transform 1200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
      }
      &-enter-from,
      &-leave-to {
        opacity: 0;
        transform: translateY(-24px);
      }
    }

    &-nft {
      margin-right: 16px;
      margin-left: 16px;
      &-image {
        margin: 0 auto;
        max-width: 250px;
        > img {
          width: 100%;
          height: auto;
        }
      }
    }

    &-challenger {
      .battle-splash-screen-nft {
        padding-top: 32px;

        &-enter-active,
        &-leave-active {
          transition: transform 800ms cubic-bezier(0, 0, 0.2, 1) 0ms;
        }
        &-enter-from,
        &-leave-to {
          opacity: 0;
          transform: translateY(24px);
        }
      }
    }

    &-versus {
      display: flex;
      justify-content: space-between;
      gap: 12px;
      max-width: 1024px;
      margin: 0 auto;

      &-primary {
        .battle-splash-screen-nft {
          &-enter-active,
          &-leave-active {
            transition: transform 800ms cubic-bezier(0, 0, 0.2, 1) 0ms;
          }
          &-enter-from,
          &-leave-to {
            opacity: 0;
            transform: translateX(-32px);
          }
        }
      }

      &-secondary {
        .battle-splash-screen-nft {
          &-enter-active,
          &-leave-active {
            transition: transform 800ms cubic-bezier(0, 0, 0.2, 1) 0ms;
          }
          &-enter-from,
          &-leave-to {
            opacity: 0;
            transform: translateX(32px);
          }
        }
      }

      .battle-splash-screen-nft-image {
        > img {
          border: 6px solid palette(grey, 900);
        }
      }

      &-symbol {
        align-self: center;
        font-size: 160%;
        color: palette(grey, 0);
        text-shadow: 3px 3px 3px palette(grey, 1000);
        @include mediaQuery(xxs) {
          font-size: 200%;
        }
        @include mediaQuery(xs) {
          font-size: 250%;
        }
        @include mediaQuery(sm) {
          font-size: 280%;
        }
        @include mediaQuery(md) {
          font-size: 300%;
        }
        color: palette(grey, 300);
      }
    }
  }

  &-status {
    display: flex;
    column-gap: 8px;

    &-primary {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-grow: 1;
      text-align: center;
    }

    &-actions {
      display: flex;
      align-items: center;

      .button {
        height: 100%;
        min-width: 36px;
        min-height: 36px;
      }
    }

    &-current-turn {
      color: palette(purple, 300);
    }
  }

  &-ground {
    overflow: hidden;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    column-gap: 12px;
    width: 100%;

    &-player {
      min-width: 0;
      width: 100%;
      height: 100%;
      padding: 8px 10px;
      @include mediaQuery(xs) {
        padding: 10px 12px;
      }
      @include mediaQuery(sm) {
        padding: 12px 14px;
      }
      @include mediaQuery(md) {
        padding: 14px 16px;
      }
      border: 2px solid palette(grey, 800);
      border-radius: 3px;

      &-name {
        overflow: hidden;
        width: 100%;
        max-width: 200px;
        @include mediaQuery(md) {
          max-width: 100%;
        }
        margin: 0 auto;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 90%;

        &.is-online {
          color: palette(green, 500);
        }
        &.is-win {
          color: palette(green, 500);
        }

        &.is-lose {
          color: palette(red, 500);
        }
      }

      &.is-current-turn {
        border-color: palette(blue, 500);
        background-color: palette(grey, 1000);
      }

      &.is-win {
        border-color: palette(green, 500);
      }

      &.is-lose {
        border-color: palette(red, 500);
      }
    }

    &-nft {
      width: 100%;
      max-width: 200px;
      @include mediaQuery(md) {
        max-width: 100%;
      }
      margin: 0 auto;

      &-content {
        display: block;
        @include mediaQuery(md) {
          display: flex;
          // flex-direction: row-reverse;
          gap: 16px;
        }

        &-primary {
          overflow: hidden;
          max-width: 100%;
          @include mediaQuery(md) {
            max-width: 200px;
          }
        }

        &-secondary {
          overflow: hidden;
          display: none;
          @include mediaQuery(md) {
            display: block;
          }
          flex-grow: 1;
        }
      }

      &-info {
        overflow: hidden;
        margin-top: 8px;

        // Transition
        &-slide-left-enter-active,
        &-slide-left-leave-active,
        &-slide-right-enter-active,
        &-slide-right-leave-active {
          transition-duration: 0.2s;
          transition-property: height, opacity, transform;
          transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
          overflow: hidden;
        }

        &-slide-left-enter-from,
        &-slide-right-leave-active {
          opacity: 0;
          transform: translate(2em, 0);
        }

        &-slide-left-leave-active,
        &-slide-right-enter-from {
          opacity: 0;
          transform: translate(-2em, 0);
        }
      }

      &-name {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        &.is-win {
          color: palette(green, 500);
        }

        &.is-lose {
          color: palette(red, 500);
        }

        .stars {
          #{$font-awesome-icon-class} {
            padding-bottom: 1px;
            font-size: 70%;
            @include mediaQuery(xxs) {
              font-size: 80%;
            }
          }
        }
      }

      &-image {
        margin-top: 4px;

        // position: relative;
        // &-rarity {
        //   background-color: palette(grey, 100);
        //   position: absolute;
        //   right: 8px;
        //   top: 8px;
        //   padding: 4px 6px;
        //   border-radius: 8px;
        //   color: palette(orange, 500);
        //   font-size: 14px;
        //   #{$font-awesome-icon-class} {
        //     font-size: 14px;
        //   }
        // }

        &.is-win {
          //
        }

        &.is-lose {
          opacity: 0.4;
        }

        img {
          width: 100%;
          height: 100%;
        }
      }

      .health-bar {
        margin-top: 8px;
        height: 18px;
        @include mediaQuery(xxs) {
          height: 20px;
        }
        @include mediaQuery(xs) {
          height: 22px;
        }
        @include mediaQuery(sm) {
          height: 24px;
        }
      }

      &-status {
        font-size: 110%;

        &-list {
          display: flex;
          flex-wrap: wrap;
          width: 100%;

          &-title {
            width: 30%;
            @include mediaQuery(xs) {
              width: 35%;
            }
            @include mediaQuery(lg) {
              width: 40%;
            }
          }

          &-data {
            display: flex;
            justify-content: space-between;
            width: 70%;
            @include mediaQuery(xs) {
              width: 65%;
            }
            @include mediaQuery(md) {
              width: 60%;
            }

            .has-advantage {
              font-size: 70%;
              @include mediaQuery(xxs) {
                font-size: 80%;
              }
              @include mediaQuery(xs) {
                font-size: 100%;
              }
              color: palette(orange, 500);
            }
          }
        }

        &.is-win {
          color: palette(green, 500);
        }

        &.is-lose {
          color: palette(red, 500);
        }
      }

      .nft-meta {
        &-key {
          color: color(secondary, light);
        }
      }

      // &-rarity,
      // &-attributes {
      //   & + & {
      //     margin-top: 16px;
      //   }
      // }

      &-rarity {
        padding-bottom: 8px;
        .nft-meta-value {
          color: palette(orange, 500);
        }
      }

      &-attributes {
        padding-top: 8px;
        border-top: 1px solid palette(grey, 800);
        .nft-meta-value {
          color: palette(green, 500);
        }
      }
    }
  }

  &-messages {
    overflow-y: scroll;

    padding: 8px 10px;
    @include mediaQuery(xs) {
      padding: 10px 12px;
    }
    @include mediaQuery(sm) {
      padding: 12px 14px;
    }
    @include mediaQuery(md) {
      padding: 14px 16px;
    }

    border: 1px solid palette(grey, 0);
    border-radius: 3px;
    background-color: palette(grey, 1000);

    > p {
      font-size: 13px;
      line-height: line-height(19px, 13px);
      @include mediaQuery(xxs) {
        font-size: 14px;
        line-height: line-height(20px, 14px);
      }
      @include mediaQuery(xs) {
        font-size: 15px;
        line-height: line-height(21px, 15px);
      }
      @include mediaQuery(sm) {
        font-size: 17px;
        line-height: line-height(23px, 17px);
      }
      @include mediaQuery(md) {
        font-size: 18px;
        line-height: line-height(24px, 18px);
      }
      @include mediaQuery(lg) {
        font-size: 20px;
        line-height: line-height(26px, 20px);
      }
      @include mediaQuery(xl) {
        font-size: 21px;
        line-height: line-height(27px, 21px);
      }

      > span {
        & + span {
          margin-left: 8px;
        }
      }
    }
  }

  &-controls {
    display: flex;
    justify-content: space-between;
    column-gap: 8px;

    .twitter-share-button,
    > button {
      width: 100%;
      border-radius: 3px;
      padding: 12px 6px;
      @include mediaQuery(xxs) {
        padding: 12px 8px;
      }
      @include mediaQuery(xs) {
        padding: 12px 10px;
      }
      text-align: center;
      user-select: none;
    }

    .twitter-share-button {
      border: 1px solid #289aeb;
      background-color: #289aeb;
      color: palette(grey, 0);
    }

    > button {
      background-color: palette(blue, 800);
      color: palette(grey, 0);
      transition: background-color 200ms ease-in,
        background-color 100ms ease-out;
      text-shadow: 1px 1px 0 palette(grey, 1000);

      &.is-emphasis {
        background-image: radial-gradient(
            ellipse farthest-corner at right bottom,
            #fedb37 0%,
            #fdb931 8%,
            #9f7928 30%,
            #8a6e2f 40%,
            transparent 80%
          ),
          radial-gradient(
            ellipse farthest-corner at left top,
            #ffffff 0%,
            #ffffac 8%,
            #d1b464 25%,
            #5d4a1f 62.5%,
            #5d4a1f 100%
          );
      }

      &:active,
      &:disabled,
      &.is-disabled {
        background-image: none;
        background-color: palette(grey, 800);
        color: color(disabled, light);
      }
    }
  }

  &-list {
    &-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 16px;
      padding-top: 12px;
      padding-right: 16px;
      padding-bottom: 12px;
      padding-left: 16px;
      @include mediaQuery(md) {
        padding-right: 0;
        padding-left: 0;
      }

      &-primary {
        flex-grow: 1;
        max-width: 150px;
      }

      &-secondary {
        flex-grow: 1;
        max-width: 150px;
      }

      &-actions {
        flex-grow: 1;
        text-align: right;
      }
    }
  }
}
