@font-face {
  font-family: 'NuAnkoMochiCt-Reg';
  src: url('@/assets/fonts/NuAnkoMochiCt/NuAnkoMochiCt-Reg.otf')
    format('truetype');
}

@font-face {
  font-family: 'PixelMplus';
  src: url('@/assets/fonts/PixelMplus/PixelMplus10-Regular.ttf')
    format('truetype');
}

.battle {
  font-family: PixelMplus;
  display: grid;
  grid-gap: 12px;
  grid-template-rows: min-content min-content 1fr min-content;
  height: 100vh;
  margin: 0 auto;
  padding: 12px;
  background-color: palette(grey, 1000);

  @include mediaQuery(md) {
    max-width: 1024px;
  }

  a {
    color: inherit;
  }

  &-status {
    display: flex;
    column-gap: 8px;

    &-primary {
      flex-grow: 1;
      text-align: center;
    }

    &-actions {
      display: flex;
      align-items: center;
    }
  }

  &-ground {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    column-gap: 12px;
    width: 100%;

    &-player {
      min-width: 0;
      width: 100%;
      height: 100%;
      padding: 8px 12px;
      border: 2px solid palette(grey, 800);
      border-radius: 3px;

      &-name {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 14px;
      }

      &.is-current-turn {
        border-color: palette(blue, 500);
        background-color: palette(grey, 1000);
      }

      &.is-win {
        border-color: palette(green, 500);
      }

      &.is-lose {
        border-color: palette(red, 500);
      }
    }

    &-nft {
      width: 100%;

      @include mediaQuery(sm) {
        width: 70%;
      }

      @include mediaQuery(md) {
        width: 50%;
      }

      &-name {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        &.is-win {
          color: palette(green, 500);
        }

        &.is-lose {
          color: palette(red, 500);
        }
      }

      &-image {
        margin-top: 4px;

        &.is-win {
          //
        }

        &.is-lose {
          opacity: 0.4;
        }

        img {
          width: 100%;
          height: 100%;
        }
      }

      .health-bar {
        margin-top: 8px;
      }

      &-status {
        margin-top: 8px;
        font-size: 14px;

        &-list {
          display: flex;
          flex-wrap: wrap;
          width: 100%;

          &-title {
            width: 30%;
          }

          &-data {
            width: 70%;
          }
        }

        .has-advantage {
          color: palette(orange, 500);
        }

        &.is-win {
          color: palette(green, 500);
        }

        &.is-lose {
          color: palette(red, 500);
        }
      }
    }

    .player-name {
      &.is-win {
        color: palette(green, 500);
      }

      &.is-lose {
        color: palette(red, 500);
      }
    }
  }

  &-messages {
    overflow-y: scroll;
    padding: 8px 12px;
    border: 1px solid palette(grey, 0);
    border-radius: 3px;
    background-color: palette(grey, 1000);
  }

  &-controls {
    display: flex;
    justify-content: space-between;
    column-gap: 8px;

    .twitter-share-button {
      width: 100%;
      border: 1px solid #289aeb;
      border-radius: 3px;
      background-color: #289aeb;
      padding: 16px 8px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      text-align: center;
      color: palette(grey, 0);
      user-select: none;
    }

    > button {
      width: 100%;
      border: 1px solid palette(blue, 900);
      border-radius: 3px;
      background-color: palette(blue, 800);
      padding: 12px 8px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      color: palette(grey, 0);
      user-select: none;
      &:disabled {
        border: 1px solid palette(grey, 800);
        background-color: palette(grey, 800);
        color: color(disabled, light);
      }
    }
  }

  &-list {
    &-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 16px;
      padding-top: 12px;
      padding-right: 16px;
      padding-bottom: 12px;
      padding-left: 16px;
      @include mediaQuery(md) {
        padding-right: 0;
        padding-left: 0;
      }

      &-primary {
        flex-grow: 1;
        max-width: 150px;
      }

      &-secondary {
        flex-grow: 1;
        max-width: 150px;
      }

      &-actions {
        flex-grow: 1;
        text-align: right;
      }
    }
  }
}
