.bottom-nav {
  &-list {
    display: flex;
    width: 100%;

    &-item {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-grow: 1;

      &-link {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        font-size: 24px;

        .svg-inline--fa {
          color: color(inactive-icon, light);
        }

        &.is-active {
          .svg-inline--fa {
            color: palette(blue, 500);
          }
        }
      }
    }
  }
}
