.button {
  padding: 8px 16px;
  border: 1px solid transparent;
  border-radius: 3px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  cursor: pointer;

  &.is-type {
    &-default {
      border-color: palette(grey, 500);
      background-color: palette(gray, 0);
      color: color(primary, dark);
    }
    &-primary {
      background-color: palette(blue, 500);
      color: color(primary, light);
    }
    &-warning {
      background-color: palette(orange, 500);
      color: color(primary, light);
    }
    &-success {
      background-color: palette(green, 500);
      color: color(primary, light);
    }
    &-danger {
      background-color: palette(red, 500);
      color: color(primary, light);
    }
    &-golden {
      background-image: radial-gradient(
          ellipse farthest-corner at right bottom,
          #fedb37 0%,
          #fdb931 8%,
          #9f7928 30%,
          #8a6e2f 40%,
          transparent 80%
        ),
        radial-gradient(
          ellipse farthest-corner at left top,
          #ffffff 0%,
          #ffffac 8%,
          #d1b464 25%,
          #5d4a1f 62.5%,
          #5d4a1f 100%
        );
      text-shadow: 1px 1px 0 palette(grey, 1000);
      color: color(primary, light);
    }
  }

  &[disabled] {
    background-color: color(inactive-icon, light);
    color: color(disabled, light);
  }
}
