.button {
  height: 36px;
  padding: 0 16px;
  border-radius: 3px;
  background-color: palette(blue, 500);
  color: palette(grey, 0);
  cursor: pointer;

  &[disabled] {
    background-color: palette(grey, 500);
    color: palette(grey, 300);
  }

  & + & {
    margin-left: 16px;
  }
}
