.card {
  @include clearfix;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;

    padding-right: 16px;
    padding-left: 16px;

    border: 1px solid color(divider, dark);
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    background-color: palette(grey, 200);

    &-title {
      font-weight: bold;
      color: color(secondary, dark);
    }

    & + .card-body {
      border-top: none;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }
  }

  &-body {
    @include clearfix;
    padding: 16px;
    border-radius: 3px;
    border: 1px solid color(divider, dark);
    background-color: palette(grey, 0);
    color: color(primary, dark);
  }
}
