.dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: none;
  color: color(primary);
  z-index: 1;

  &-trigger {
    display: inline-block;
    user-select: none;
    cursor: pointer;
  }

  &-content {
    display: grid;
    grid-template-rows: auto 1fr;
    position: fixed;
    max-width: 90%;
    max-height: 90%;

    @include mediaQuery(md) {
      max-width: 1024px;
      margin-right: 24px;
      margin-left: 24px;
    }

    &-enter-active,
    &-leave-active {
      transition: all 225ms;
    }
    &-enter-from,
    &-leave-to {
      opacity: 0;
      transform: translateY(-12px);
    }
  }

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    padding-right: 16px;
    padding-left: 16px;
    background-color: palette(grey, 200);
    border-bottom: 1px solid color(divider, dark);
    font-size: 18px;

    &-title {
      @include mediaQuery(md) {
        padding-left: 8px;
      }
      font-weight: bold;
      color: color(primary, dark);
    }

    &-actions {
      margin-left: 16px;

      button {
        width: 32px;
        height: 32px;
        border-radius: 4px;
        color: color(inactive-icon, dark);
        &:hover,
        &:active {
          color: color(active-icon, dark);
        }
        &:active {
          background-color: palette(grey, 300);
        }
      }
    }
  }

  &-body {
    overflow: auto;
    background-color: palette(grey, 0);
    padding: 16px;
    color: color(primary, dark);
  }

  &-footer {
    overflow: auto;
    display: flex;
    gap: 12px;
    background-color: palette(grey, 0);
    padding: 10px 16px;
    border-top: 1px solid color(divider, dark);
    justify-content: flex-end;
    color: color(primary, dark);
  }
}
