.drawer {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  outline: none;
  // z-index: z-index(drawer);

  &-trigger {
    display: inline-block;
    user-select: none;
    cursor: pointer;
  }

  &-content {
    display: grid;
    grid-template-rows: auto 1fr;
    position: fixed;

    &.is-direction {
      &-left,
      &-right {
        max-width: 80%;
      }
      &-left {
        left: 0;
      }
      &-right {
        right: 0;
      }
      &-top,
      &-bottom {
        max-width: calc(1024px - 32px);
        @include mediaQuery(md) {
          max-width: calc(1024px - 48px);
        }
      }
      &-top {
        top: 0;
      }
      &-bottom {
        bottom: 0;
      }
    }
    &-top-enter-active,
    &-top-leave-active {
      transform: translate(0px, 0px);
      transition: transform 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    }
    &-top-enter-from {
      transform: translateY(-100vh) translateY(0px);
    }
    &-top-leave-to {
      transform: translateY(-100%) translateY(0px);
    }

    &-bottom-enter-active,
    &-bottom-leave-active {
      transform: translate(0px, 0px);
      transition: transform 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    }
    &-bottom-enter-from {
      transform: translateY(100vh) translateY(0px);
    }
    &-bottom-leave-to {
      transform: translateY(100%) translateY(0px);
    }

    &-left-enter-active,
    &-left-leave-active {
      transform: translate(0px, 0px);
      transition: transform 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    }
    &-left-enter-from {
      transform: translateX(-100vw) translateX(0px);
    }
    &-left-leave-to {
      transform: translateX(-100%) translateX(0px);
    }

    &-right-enter-active,
    &-right-leave-active {
      transform: translate(0px, 0px);
      transition: transform 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    }
    &-right-enter-from {
      transform: translateX(100vw) translateX(0px);
    }
    &-right-leave-to {
      transform: translateX(100%) translateX(0px);
    }
  }

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 56px;

    padding-right: 16px;
    padding-left: 16px;
    @include mediaQuery(md) {
      padding-right: 24px;
      padding-left: 24px;
    }

    background-color: palette(grey, 200);
    border-bottom: 1px solid color(divider, dark);
    font-size: 18px;

    &-title {
      font-weight: bold;
      color: color(primary, dark);
    }

    &-actions {
      #{$font-awesome-icon-class} {
        padding: 8px;
        color: color(active-icon, dark);
      }
    }
  }

  &-body {
    overflow: auto;
    background-color: palette(grey, 0);
    padding: 16px;
    color: color(primary, dark);
  }
}
