
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 40px 16px;
  text-align: center;

  &-image {
    max-width: 360px;
    margin: 32px;

    > img {
      width: 100%;
      height: auto;
    }
  }

  &-text {
    word-break: break-all;

    &-primary {
      margin-bottom: 8px;
      font-size: 32px;
      line-height: line-height(32px, 24px);
      color: color(primary, light);
    }

    &-secondary {
      margin-bottom: 4px;
      color: color(secondary, light);
    }
  }

  .online-players-text {
    color: color(secondary, light);

    &-count {
      font-weight: bold;
      color: palette(green, 500);
    }
  }
}
