.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  a {
    color: palette(blue, 500);
  }

  &-image {
    max-width: 360px;
    margin: 32px;

    > img {
      width: 100%;
      height: auto;
    }
  }

  &-text {
    word-break: break-all;

    &-primary {
      margin-bottom: 8px;
      line-height: line-height(32px, 24px);
      font-size: 32px;
      color: color(primary, light);
    }

    &-secondary {
      margin-bottom: 4px;
      color: color(secondary, light);
    }
  }
}
