.how-to-play {
  section {
    margin-bottom: 16px;
  }

  h1 {
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 20px;
  }

  h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 17px;
  }

  p {
    margin-bottom: 8px;
    font-size: 16px;
    line-height: line-height(24px, 16px);
    @include mediaQuery(md) {
      line-height: line-height(18px, 16px);
    }

    &.is-warning {
      color: palette(red, 500);
    }
  }

  ul,
  ol {
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 8px;
    li {
      font-size: 16px;
    }
  }

  ul {
    li {
      list-style-type: circle;
      list-style-position: inside;
    }
  }

  ol {
    li {
      list-style-type: decimal;
      list-style-position: inside;
    }
  }

  &-monster-battle,
  &-create,
  &-join,
  &-attack,
  &-heal {
    border-radius: 4px;
    background-color: palette(blue, 500);
    padding-right: 8px;
    padding-left: 8px;
    color: palette(grey, 0);
  }

  &-delete {
    border-radius: 4px;
    background-color: palette(red, 500);
    padding-right: 8px;
    padding-left: 8px;
    color: palette(grey, 0);
  }

  &-status {
    background-color: palette(orange, 200);
    padding-right: 8px;
    padding-left: 8px;
  }

  &-discord {
    background-color: palette(grey, 200);
    padding-right: 8px;
    padding-left: 8px;
  }
}
