.list {
  padding-top: 4px;
  padding-bottom: 4px;
  border-bottom: 1px solid color(divider, light);

  &-item {
    padding: 0 16px;
    @include mediaQuery(md) {
      padding: 0;
    }
    border-bottom: 1px solid color(divider, light);
    &:last-child {
      border-bottom: none;
    }
  }
}
