.message {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  padding: 16px 0;

  &-name {
    font-weight: bold;

    &.is-online {
      color: palette(green, 500);
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
  }

  &-actions {
    display: flex;
    align-items: center;
  }

  &-posted-at {
    margin-left: 8px;
    color: color(secondary, light)
  }
}
