.message {
  &-form {
    align-self: end;
    padding: 12px 16px;
    @include mediaQuery(md) {
      padding-right: 0;
      padding-left: 0;
    }

    > form {
      > input {
        padding: 10px 12px;
        width: 100%;
        border: 1px solid palette(grey, 1000);
        border-radius: 2px;
        font-size: 16px;
        color: color(primary);
      }
    }

    &-enter-active,
    &-leave-active {
      transition: all 225ms;
    }
    &-enter-from,
    &-leave-to {
      opacity: 0;
      transform: translateY(60px);
    }
  }

  &-meta {
    display: flex;
    gap: 8px;
  }

  &-posted-at {
    align-self: end;
    color: color(secondary, light);
    font-size: 12px;
  }

  &-text {
    word-break: break-all;
  }

  &-list {
    height: 100%;
    overflow: auto;

    &-item {
      display: flex;
      gap: 16px;
      border-bottom: 1px solid color(divider, light);
      &:last-child {
        border-bottom: none;
      }
      padding-top: 12px;
      padding-right: 16px;
      padding-bottom: 12px;
      padding-left: 16px;
      @include mediaQuery(md) {
        padding-right: 0;
        padding-left: 0;
      }

      &-primary {
        //
      }

      &-secondary {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        gap: 2px;
      }

      &-actions {
        align-self: center;

        button {
          width: 32px;
          height: 32px;
          color: color(inactive-icon, light);
          &:hover, &:active {
            color: color(active-icon, light);
          }
        }
      }

      .player-avatar {
        width: 42px;
        height: 42px;
      }
    }
  }
}
