.nft {
  &-name {
    font-weight: bold;
  }

  &-meta {
    color: color(secondary, dark);
  }

  &-rarity {
    color: palette(yellow, 800);
  }

  &-attribute {
    display: flex;
    flex-wrap: wrap;

    &-list {
      //
    }

    &-type {
      flex-grow: 1;
    }

    &-value {
      //
    }
  }

  &-image {
    > img {
      width: 100%;
      height: auto;
      border-radius: 2px;
    }
  }

  &-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;

    @include mediaQuery(sm) {
      grid-template-columns: repeat(4, 1fr);
    }
    @include mediaQuery(md) {
      grid-template-columns: repeat(5, 1fr);
    }
    @include mediaQuery(lg) {
      grid-template-columns: repeat(6, 1fr);
    }

    &-item {
      .nft-image {
        width: 100%;
        height: auto;
      }
    }
  }
}
