.nft {
  &-name {
    font-weight: bold;
  }

  &-meta {
    &-list {
      &-item {
        display: flex;
        gap: 8px;
      }
    }

    &-key {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &-value {
      flex-grow: 1;
      text-align: right;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  &-image {
    position: relative;

    img {
      visibility: visible;
      width: 100%;
      height: auto;
    }

    svg {
      position: absolute;
      width: 100%;
      height: auto;
      padding: 32px;
    }

    &.not-loaded {
      .nft-image-content {
        visibility: hidden;
        width: 0;
        height: 0;
      }
    }
  }

  &-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    @include mediaQuery(xxs) {
      grid-template-columns: repeat(3, 1fr);
    }
    @include mediaQuery(xs) {
      grid-template-columns: repeat(4, 1fr);
    }
    @include mediaQuery(sm) {
      grid-template-columns: repeat(5, 1fr);
    }
    @include mediaQuery(md) {
      grid-template-columns: repeat(6, 1fr);
    }
    @include mediaQuery(lg) {
      grid-template-columns: repeat(7, 1fr);
    }

    &-item {
      .nft-image {
        width: 100%;
        height: auto;
      }
    }
  }
}
