.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.6);
  pointer-events: auto;
  touch-action: none;
  &-enter-active,
  &-leave-active {
    transition: opacity 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  }
  &-enter-from,
  &-leave-to {
    opacity: 0;
  }
}
