.pagination {
  padding: 12px;
  color: color(secondary, light);
  @include clearfix;

  &-statistics {
    width: 100%;
    display: inline-block;
    margin-right: 8px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 14px;
    line-height: line-height(30px, 14px);
    color: color(secondary, light);
    text-align: center;
    @media screen and (min-width: 600px) {
      float: right;
      width: auto;
    }
  }

  &-navigation {
    margin-left: 0;
    width: 100%;
    text-align: center;
    @media screen and (min-width: 600px) {
      float: right;
      margin-left: 8px;
      width: auto;
    }

    li {
      display: inline-block;
      border-radius: 2px;
      text-align: center;
      vertical-align: top;
      height: 30px;
      user-select: none;

      a,
      span {
        display: inline-block;
        padding-right: 12px;
        padding-left: 12px;
        border-radius: 2px;
        font-size: 14px;
        line-height: line-height(30px, 14px);
        color: color(primary, light);
        &.is-active {
          color: color(primary, light);
        }
        &.is-disabled {
          cursor: auto;
          color: color(inactive-icon, light);
        }
      }

      a {
        cursor: pointer;
        &:hover {
          background-color: palette(blue, 50);
          color: palette(blue, 900);
        }
      }
    }
  }

  &-list {
    width: 100%;
    text-align: center;
    @media screen and (min-width: 600px) {
      float: right;
      width: auto;
    }

    li {
      display: inline-block;
      border-radius: 2px;
      text-align: center;
      vertical-align: top;
      height: 30px;
      user-select: none;

      a,
      span {
        display: inline-block;
        padding-right: 10px;
        padding-left: 10px;
        border-radius: 2px;
        font-size: 14px;
        line-height: line-height(30px, 14px);
        color: color(primary, light);
        &.is-active {
          background-color: palette(blue, 500);
          color: palette(grey, 0);
        }
        &.is-ellipsis {
          padding-right: 8px;
          padding-left: 8px;
          cursor: auto;
          color: color(disabled, light);
        }
      }

      a {
        cursor: pointer;
        &:hover {
          background-color: palette(blue, 50);
          color: palette(blue, 900);
        }
      }
    }
  }
}
