.player {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  padding: 16px 0;

  &-content {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;

    &-primary {
      //
    }

    &-scondary {
      //
    }

    &-list {
      display: flex;
      gap: 8px;

      &-item {
        .svg-inline--fa {
          margin-right: 6px;
        }

        &-text {
          //
        }
      }
    }
  }

  &-actions {
    display: flex;
    align-items: center;
  }

  &-avatar {
    width: 42px;
    height: 42px;

    > img {
      object-fit: cover;
      border-radius: 50%;
    }
  }

  &-name {
    font-weight: bold;

    &.is-online {
      color: palette(green, 500);
    }
  }

  &-devices {
    margin-left: 8px;
    color: color(secondary, light)
  }

  &-state {
    padding: 6px 12px;
    min-width: 80px;
    border-radius: 3px;
    text-align: center;
    color: palette(gray, 0);

    &.is-idle {
      background-color: palette(gray, 500);
    }

    &.is-standby {
      background-color: palette(green, 500);
    }
  }
}
