.random-nft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 16px;

  &-content {
    text-align: center;

    &-enter-active,
    &-leave-active {
      transition: all 225ms;
    }
    &-enter-from,
    &-leave-to {
      opacity: 0;
      transform: translateY(16px);
    }
  }

  &-name {
    font-size: 18px;
    font-weight: bold;
  }

  &-image {
    width: 230px;
    margin: 16px;
    background-color: palette(grey, 800);

    &.is-loaded {
      width: auto;
      max-width: 250px;
    }

    > img {
      width: 100%;
      height: auto;
      border-radius: 2px;
    }
  }

  &-attribute {
    max-width: 230px;
    margin: 16px;
    text-align: left;

    &-type {
      color: color(secondary, light);
    }

    &-value {
      float: right;
      color: color(primary, light);
    }
  }
}
