.random-nft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 16px;

  &-content {
    text-align: center;

    &-enter-active,
    &-leave-active {
      transition: all 225ms;
    }
    &-enter-from,
    &-leave-to {
      opacity: 0;
      transform: translateY(16px);
    }
  }

  &-image {
    width: 250px;
    margin: 16px;
    border: 5px solid palette(green, 500);
    border-radius: 8px;
    background-color: palette(grey, 800);

    &.is-loaded {
      width: auto;
      max-width: 250px;
    }

    > img {
      width: 100%;
      height: auto;
    }
  }

  &-attribute {
    max-width: 250px;
    margin: 16px;
    text-align: left;

    &-type {
      color: color(secondary, light);
    }

    &-value {
      float: right;
      color: color(primary, light);
    }
  }
}
