.tab {
  background-color: palette(grey, 800);

  &-list {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;

    &-item {
      flex-shrink: 1;
      text-align: center;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      > a,
      > span {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 12px 16px;
        width: 100%;
        height: 100%;
        text-align: center;
      }

      > a {
        color: color(primary, light);

        &.is-active {
          background-color: palette(blue, 500);
        }
      }

      > span {
        color: color(disabled, light);
      }
    }
  }

  &-content {
    height: 100%;

    &-slide-left-enter-active,
    &-slide-left-leave-active,
    &-slide-right-enter-active,
    &-slide-right-leave-active {
      transition-duration: 0.2s;
      transition-property: height, opacity, transform;
      transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
    }

    &-slide-left-enter-from,
    &-slide-right-leave-active {
      opacity: 0;
      transform: translate(2em, 0);
    }

    &-slide-left-leave-active,
    &-slide-right-enter-from {
      opacity: 0;
      transform: translate(-2em, 0);
    }
  }
}
