.spinner {
  animation: rotator 5s linear infinite;
  transform-origin: center;
  display: inline-block;
  font-size: inherit;
  height: 1em;
  width: 1em;
  overflow: visible;
  vertical-align: -0.125em;

  &-circle {
    stroke-dasharray: 265;
    stroke-dashoffset: 0;
    transform-origin: center;
    stroke: blue;
    animation: dash 1s ease-in-out infinite;
  }
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 265;
  }
  50% {
    stroke-dashoffset: 65;
    transform: rotate(90deg);
  }
  100% {
    stroke-dashoffset: 265;
    transform: rotate(360deg);
  }
}
