$breakpoints: (
  'sm': 'screen and (min-width: 640px)',
  'md': 'screen and (min-width: 768px)',
  'lg': 'screen and (min-width: 1024px)',
  'xl': 'screen and (min-width: 1280px)',
  '2xl': 'screen and (min-width: 1536px)',
) !default;

$z-indexes: (
  'dialog': 5,
  'loading-splash': 4,
  'drawer': 3,
  'menu': 2,
  'overlay': 1,
) !default;

$font-awesome-icon-class: '.svg-inline--fa'
