.arena {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'arena-header'
    'arena-main';
  height: 100%;

  &-header {
    grid-area: arena-header;

    > h1 {
      margin-top: 12px;
      margin-bottom: 12px;
      font-size: 110%;
      @include mediaQuery(sm) {
        margin-top: 14px;
        margin-bottom: 14px;
        font-size: 130%;
      }
      @include mediaQuery(md) {
        margin-top: 16px;
        margin-bottom: 16px;
        font-size: 150%;
      }
      text-align: center;
    }
  }

  &-main {
    grid-area: arena-main;
    overflow: auto;
  }

  &-primary {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 8px;

    margin-top: 12px;
    margin-bottom: 12px;
    @include mediaQuery(sm) {
      margin-top: 14px;
      margin-bottom: 14px;
    }
    @include mediaQuery(md) {
      margin-right: 0;
      margin-left: 0;

      margin-top: 16px;
      margin-bottom: 16px;
    }

    padding: 8px;
    @include mediaQuery(sm) {
      padding: 12px;
    }
    @include mediaQuery(md) {
      padding: 14px;
    }

    border: 1px solid #fedb37;
    border-radius: 2px;

    .button {
      background-image: radial-gradient(
          ellipse farthest-corner at right bottom,
          #fedb37 0%,
          #fdb931 8%,
          #9f7928 30%,
          #8a6e2f 40%,
          transparent 80%
        ),
        radial-gradient(
          ellipse farthest-corner at left top,
          #ffffff 0%,
          #ffffac 8%,
          #d1b464 25%,
          #5d4a1f 62.5%,
          #5d4a1f 100%
        );
      color: color(primary, light);
      font-size: 110%;
      @include mediaQuery(sm) {
        font-size: 115%;
      }
      @include mediaQuery(md) {
        font-size: 125%;
      }
    }
  }
}
