.collections {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'collections-header'
    'collections-main';
  height: 100%;

  &-header {
    grid-area: collections-header;

    > h1 {
      margin-top: 12px;
      margin-bottom: 12px;
      font-size: 110%;
      @include mediaQuery(sm) {
        margin-top: 14px;
        margin-bottom: 14px;
        font-size: 130%;
      }
      @include mediaQuery(md) {
        margin-top: 16px;
        margin-bottom: 16px;
        font-size: 150%;
      }
      text-align: center;
    }

    .collections {
      &-name {
        display: none;
        @include mediaQuery(sm) {
          display: flex;
        }
      }

      &-name-short {
        display: flex;
        @include mediaQuery(sm) {
          display: none;
        }
      }
    }
  }

  &-main {
    grid-area: collections-main;
    overflow: auto;
  }
}
